html,body,div,h1,h2,h3,h4,h5,h6,input,header,footer,section,ol,ul,table,tr,td {
  border: 0;
  margin: 0;
  padding: 0;
}

body,div,h1,h2,h3,header,footer,section {
  background-color: #322;
  color: #fed;
  text-align: center;
  margin: 10px;
  font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}

h1 {
  border-bottom: 1px solid #888;
}

h2 {
  font-size: 1.1em;
}

body {
  padding: 20px;
}

table {
  display: inline-block;
}

td,th {
  text-align: right;
  padding: 5px;
}

input,select {
  background-color: #402626;
  color: #fff;
  border: 1px solid #642;
  text-align: center;
  margin: 3px;
  padding: 3px;
  font-size: 1.1em;
}

ul,ol {
  list-style: none;
}

body, a, a:visited, a:active {
  color: #f84;
  text-decoration: none;
}

body {
  padding: 10px;
}

page {
  display: none;
}

.next-button {
  display: block;
  background: #654;
  padding: 6px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;

  background: -moz-linear-gradient(top, #fbd95e, #b7953d 50%,#be8000 50%,#cc8800);
  background: -webkit-gradient(linear, left top, left bottom, from(#a98), color-stop(0.5,#a86), color-stop(0.5,#864), to(#a74));
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #0099CC;
  -moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

a.next-button, a:visited.next-button, a:active.next-button {
  color: #fff;
  text-decoration: none;
}

.action-button {
  display: block;
  background: #842;
  padding: 4px 8px;
  max-width: 80%;
  margin: 30px auto;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;

  background: -moz-linear-gradient(top, #fbd95e, #b7953d 50%,#be8000 50%,#cc8800);
  background: -webkit-gradient(linear, left top, left bottom, from(#806860), color-stop(0.5,#908070), color-stop(0.5,#654), to(#908880));
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #0099CC;
  -moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

a.action-button, a:visited.action-button, a:active.action-button {
  color: #fff;
  text-decoration: none;
}

#wolves {
  width: 30px;
  border: 0;
  padding: 0;
  margin: 0;
  color: #f84;
  font-size: 1.3em;
  text-align: right;
  background: none;
}

#seconds {
  border: 0;
  color: #f84;
  font-size: 1.3em;
}

#the-word {
  font-size: 1.2em;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.player-name {
  font-weight: bold;
  color: #fff;
}

#post-wordpair-wrapper {
  width: 80%;
  border: 1px solid #f84;
  display: inline-block;
  padding: 10px;
}

.attention {
  font-size: 0.8em;
}

input.estimate {
  display: none;
}

input.estimate + label {
  width: 100px;
  background-color: #402626;
  color: #ddd;
}

input.estimate:checked + label {
  width: 100px;
  background-color: #f84;
  color: #fff;
}