.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBySideCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    background-color: rgb(187, 164, 66);
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}